{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-react",
          { "runtime": "automatic", "importSource": "@emotion/react" }
        ],
        [
          "@babel/preset-env",
          {
            "targets": {"node": "current"},
            "useBuiltIns": "entry",
            "corejs": 3,
            "loose": true
          }
        ]
      ],
      "plugins": [
        "@emotion",
        "mockable-imports"
      ]
    }
  }
}
